/* Base Styles */
body, html {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #425363;
  background: linear-gradient(137deg,#e9e5fc 6%,#f4e5fc 12%,#fce5f4 18%,#FFFFFF 60%) fixed no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.125rem; /* 20px (most browsers have 16px as default) */
}
@media (min-width: 580px) {
  body, html {
    font-size: 1.25rem;
  }
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1.2;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
p {
 margin-top: 0;
}
a {
  text-decoration: none;
  color: hsl(235, 65%, 54%);
  transition: color .2s;
}
a:hover {
  color: hsl(235, 90%, 70%);
}
a:active {
  color: hsl(235, 90%, 40%);
}
p:last-child {
  margin-bottom: 0;
}
header, section {
  padding: 2rem 0;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
}
@media (min-width: 580px) {
  .container {
    padding: 0 2rem;
  }
}
.box {
  padding: 1rem;
  border: 10px solid #FFFFFF;
  border-radius: 5px;
}
@media (min-width: 580px) {
  .box {
    padding: 2rem;
  }
}
.sectionHeader {
  text-align: center;
  font-size: 3rem;
  color: #467199;
}
/* End Base Styles */


/* Component Styles */
.logo {
  font-size: 4rem;
  color: #f99993;
  margin-bottom: 0;
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


.newsSection {
  font-size: 1rem;
}
.newsSection .box {
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
}
.newsHeader {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #cc108d;
}


.eventTitle {
  line-height: 1.3;
}
.eventDate,
.eventLocation {
  font-weight: bold;
  margin: 0 0 .5rem;
}


.codeOfConductSection .sectionHeader {
  margin-bottom: .5rem;
}
.codeOfConductPreamble {
  font-size: 1.125rem;
  line-height: 1.4;
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 2rem;
}
